<div class="container">
  <div class="quetsion">
      <h1 class="Outfit">Got Questions? We've Got Answers!</h1>
      <p class="Outfit">Find quick answers to some of the most commonly asked questions about our products and services.</p>
  </div>
      <div class="answers">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion">
          <button class="accordion-button collapsed Outfit" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is your return policy?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body Outfit">We offer a 30-day return policy on all of our furniture. If you're not completely satisfied with your purchase, simply return it in its original condition within 30 days for a full refund or exchange.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion">
          <button class="accordion-button collapsed Outfit" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Do you offer international shipping?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body Outfit">Yes, we do! We ship to select international destinations. Shipping costs and delivery times may vary based on your location. Please check our shipping page or contact customer service for more details.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion">
          <button class="accordion-button collapsed Outfit" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Do you provide assembly services?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body Outfit">Yes, we offer free assembly services for all our furniture. Our expert team will deliver and set up your furniture at no additional cost, ensuring everything is installed correctly and ready for use.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact Outfit">
    <h1 class="Outfit">Still have questions?</h1>
    <p class="Outfit">Don't be shy to contact us, we are here for you.</p>
    <button type="button" (click)="contactbtn()" class="btn btn Outfit">Contact</button>
  </div>
</div>
